Turinco/sabre/WS_SsoftSabreV2/WS_SsoftSabre/Web References/ShortSell/ShortSellLLSRQ.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://webservices.sabre.com/sabreXML/2003/07" elementFormDefault="qualified" targetNamespace="http://webservices.sabre.com/sabreXML/2003/07" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ShortSellRQ">
    <xs:annotation>
      <xs:documentation>Request to book an air segment.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="POS">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Source">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="RequestorID">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="CompanyName">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute name="CompanyShortName" use="optional">
                                    <xs:simpleType>
                                      <xs:annotation>
                                        <xs:documentation xml:lang="en">Used for Character Strings, length 1 to 32																				</xs:documentation>
                                      </xs:annotation>
                                      <xs:restriction base="xs:string">
                                        <xs:minLength value="1" />
                                        <xs:maxLength value="32" />
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:attribute>
                                  <xs:attribute name="TravelSector" use="optional">
                                    <xs:simpleType>
                                      <xs:annotation>
                                        <xs:documentation xml:lang="en">Used for codes in the OTA code tables.																				</xs:documentation>
                                      </xs:annotation>
                                      <xs:restriction base="xs:string">
                                        <xs:pattern value="[0-9A-Z]{1,3}" />
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:attribute>
                                  <xs:attribute name="Code" use="optional">
                                    <xs:annotation>
                                      <xs:documentation xml:lang="en">Identifies a company by the company code.																			</xs:documentation>
                                    </xs:annotation>
                                    <xs:simpleType>
                                      <xs:annotation>
                                        <xs:documentation xml:lang="en">Used for Character Strings, length 1 to 8																				</xs:documentation>
                                      </xs:annotation>
                                      <xs:restriction base="xs:string">
                                        <xs:minLength value="1" />
                                        <xs:maxLength value="8" />
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:attribute>
                                  <xs:attribute name="CodeContext" use="optional">
                                    <xs:annotation>
                                      <xs:documentation xml:lang="en">Identifies the context of the identifying code, 																			such as DUNS, IATA or internal code, etc.																						</xs:documentation>
                                    </xs:annotation>
                                    <xs:simpleType>
                                      <xs:annotation>
                                        <xs:documentation xml:lang="en">Used for Character Strings, length 1 to 32																				</xs:documentation>
                                      </xs:annotation>
                                      <xs:restriction base="xs:string">
                                        <xs:minLength value="1" />
                                        <xs:maxLength value="32" />
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:attribute>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="URL" type="xs:anyURI">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">URL that identifies the location associated with the record 																identified by the 	UniqueID. </xs:documentation>
                          </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="Type" use="required">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">A reference to the type of object defined by the UniqueID 																element. </xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:annotation>
                              <xs:documentation xml:lang="en">Used for codes in the OTA code tables.</xs:documentation>
                            </xs:annotation>
                            <xs:restriction base="xs:string">
                              <xs:pattern value="[0-9A-Z]{1,3}" />
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="Instance">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">The identification of a record as it exists at a point in time. An 																instance 	is 	used 	in 	update 			messages 																	where the sender must assure the server that the update sent refers to the most recent 																modification 	level of 	the 	object 	being 	updated.																			</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:annotation>
                              <xs:documentation xml:lang="en">Used for Character Strings, length 1 to 32</xs:documentation>
                            </xs:annotation>
                            <xs:restriction base="xs:string">
                              <xs:minLength value="1" />
                              <xs:maxLength value="32" />
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="ID" use="required">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">A unique identifying value assigned by the creating system.  																The ID 			attribute 	may be 		used to 			reference a 																primary-key value within a database or in a particular implementation.																		</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:annotation>
                              <xs:documentation xml:lang="en">Used for Character Strings, length 1 to 32																		</xs:documentation>
                            </xs:annotation>
                            <xs:restriction base="xs:string">
                              <xs:minLength value="1" />
                              <xs:maxLength value="32" />
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="ID_Context" use="optional">
                          <xs:annotation>
                            <xs:documentation>Used to identify the source of the identifier (e.g. IATA, ABTA, etc.).																</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:annotation>
                              <xs:documentation xml:lang="en">Used for Character Strings, length 1 to 32</xs:documentation>
                            </xs:annotation>
                            <xs:restriction base="xs:string">
                              <xs:minLength value="1" />
                              <xs:maxLength value="32" />
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="Position">
                      <xs:complexType>
                        <xs:annotation>
                          <xs:documentation>Used to identify geospatial postion of the requesting entity.</xs:documentation>
                        </xs:annotation>
                        <xs:attribute name="Latitude" use="optional">
                          <xs:simpleType>
                            <xs:annotation>
                              <xs:documentation xml:lang="en">Used for Character Strings, length 1 to 16</xs:documentation>
                            </xs:annotation>
                            <xs:restriction base="xs:string">
                              <xs:minLength value="1" />
                              <xs:maxLength value="16" />
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="Longitude" use="optional">
                          <xs:simpleType>
                            <xs:annotation>
                              <xs:documentation xml:lang="en">Used for Character Strings, length 1 to 16</xs:documentation>
                            </xs:annotation>
                            <xs:restriction base="xs:string">
                              <xs:minLength value="1" />
                              <xs:maxLength value="16" />
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="Altitude" use="optional">
                          <xs:simpleType>
                            <xs:annotation>
                              <xs:documentation xml:lang="en">Used for Character Strings, length 1 to 16</xs:documentation>
                            </xs:annotation>
                            <xs:restriction base="xs:string">
                              <xs:minLength value="1" />
                              <xs:maxLength value="16" />
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="BookingChannel">
                      <xs:annotation>
                        <xs:documentation>Specifies the booking channel type and whether it is the primary means of connectivity of 												the 	source.	</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="CompanyName">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute name="CompanyShortName" use="optional">
                                    <xs:simpleType>
                                      <xs:annotation>
                                        <xs:documentation xml:lang="en">Used for Character Strings, length 1 to 32																				</xs:documentation>
                                      </xs:annotation>
                                      <xs:restriction base="xs:string">
                                        <xs:minLength value="1" />
                                        <xs:maxLength value="32" />
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:attribute>
                                  <xs:attribute name="TravelSector" use="optional">
                                    <xs:simpleType>
                                      <xs:annotation>
                                        <xs:documentation xml:lang="en">Used for codes in the OTA code tables.																				</xs:documentation>
                                      </xs:annotation>
                                      <xs:restriction base="xs:string">
                                        <xs:pattern value="[0-9A-Z]{1,3}" />
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:attribute>
                                  <xs:attribute name="Code" use="optional">
                                    <xs:annotation>
                                      <xs:documentation xml:lang="en">Identifies a company by the company code.																			</xs:documentation>
                                    </xs:annotation>
                                    <xs:simpleType>
                                      <xs:annotation>
                                        <xs:documentation xml:lang="en">Used for Character Strings, length 1 to 8																				</xs:documentation>
                                      </xs:annotation>
                                      <xs:restriction base="xs:string">
                                        <xs:minLength value="1" />
                                        <xs:maxLength value="8" />
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:attribute>
                                  <xs:attribute name="CodeContext" use="optional">
                                    <xs:annotation>
                                      <xs:documentation xml:lang="en">Identifies the context of the identifying code, 																			such as DUNS, IATA or internal code, etc.																						</xs:documentation>
                                    </xs:annotation>
                                    <xs:simpleType>
                                      <xs:annotation>
                                        <xs:documentation xml:lang="en">Used for Character Strings, length 1 to 32																				</xs:documentation>
                                      </xs:annotation>
                                      <xs:restriction base="xs:string">
                                        <xs:minLength value="1" />
                                        <xs:maxLength value="32" />
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:attribute>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="Type" use="required">
                          <xs:annotation>
                            <xs:documentation>The type of booking channel (e.g. Global Distribution System (GDS), Alternative 															Distribution 		System 	(ADS), 		Sales 	and 	Catering System (SCS), 															Property Management System (PMS), Central Reservation System (CRS), 																	Tour Operator 		System 	(TOS), 	Internet 	and ALL).																		</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:annotation>
                              <xs:documentation xml:lang="en">Used for codes in the OTA code tables.</xs:documentation>
                            </xs:annotation>
                            <xs:restriction base="xs:string">
                              <xs:pattern value="[0-9A-Z]{1,3}" />
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="Primary" type="xs:boolean" use="optional">
                          <xs:annotation>
                            <xs:documentation>Indicates whether the enumerated booking channel is the primary means of 															connectivity used by the source.																			             </xs:documentation>
                          </xs:annotation>
                        </xs:attribute>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="AgentSine" use="optional">
                    <xs:annotation>
                      <xs:documentation>Identifies the party within the requesting entity.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="16" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="PseudoCityCode" use="optional">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">An identification code assigned to an office/agency by a reservation system.												</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="16" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="ISOCountry" use="optional">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">The country code of the requesting party.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:annotation>
                        <xs:documentation xml:lang="en">2 character country code as defined in ISO3166.</xs:documentation>
                      </xs:annotation>
                      <xs:restriction base="xs:string">
                        <xs:pattern value="[a-zA-Z]{2}" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="ISOCurrency" use="optional">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">The currency code in which the reservation will be ticketed.													</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Used for Alphabetic Strings, length exactly 3</xs:documentation>
                      </xs:annotation>
                      <xs:restriction base="xs:string">
                        <xs:pattern value="[a-zA-Z]{3}" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="AgentDutyCode" use="optional">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">An authority code assigned to a requestor.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Used for Character Strings, length 1 to 16</xs:documentation>
                      </xs:annotation>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="16" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="AirlineVendorID" use="optional">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">The IATA assigned airline code.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Used for an Upper Alpha String and Numeric, length 2 to 3.														</xs:documentation>
                      </xs:annotation>
                      <xs:restriction base="xs:string">
                        <xs:pattern value="[A-Z0-9]{2,3}" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="AirportCode" use="optional">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">The IATA assigned airport code.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Used for an Upper Alpha String and Numeric, length 3 to 5.														</xs:documentation>
                      </xs:annotation>
                      <xs:restriction base="xs:string">
                        <xs:pattern value="[A-Z0-9]{3,5}" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="FirstDepartPoint" use="optional">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">The point of first departure in a trip.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Used for Strings, length exactly 3</xs:documentation>
                      </xs:annotation>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="3" />
                        <xs:maxLength value="3" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="ERSP_UserID" use="optional">
                    <xs:annotation>
                      <xs:documentation>Electronic Reservation Service Provider (ERSP) assigned identifier used to identify the 												individual 	using 	the 		ERSP 		system.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Used for Character Strings, length 1 to 16</xs:documentation>
                      </xs:annotation>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="16" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="TPA_Extensions">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="MessagingDetails">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="MDRSubset">
                      <xs:complexType>
                        <xs:attribute name="Code" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="AirItinerary">
          <xs:complexType>
            <xs:annotation>
              <xs:documentation xml:lang="en">Specifies the origin and destination of the traveler.
														Attributes:
														DirectionInd - A directional indicator that identifies a type of air booking, either one-way, round-trip, or open-jaw with the enumeration of (OneWay 														| RT 	| 		OpenJaw) 				respectively.
														ActionCode - Indicates the status of the booking, such as OK or Wait-List.
														NumberInParty - Indicates the traveler count.
														 </xs:documentation>
            </xs:annotation>
            <xs:sequence>
              <xs:element minOccurs="0" name="OriginDestinationOptions">
                <xs:annotation>
                  <xs:documentation>A container for OriginDestinationOptions.								</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="OriginDestinationOption">
                      <xs:annotation>
                        <xs:documentation>A container for OriginDestinationOptionType.</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:annotation>
                          <xs:documentation>
													A container for flight segments.
													</xs:documentation>
                        </xs:annotation>
                        <xs:sequence>
                          <xs:element maxOccurs="99" name="FlightSegment">
                            <xs:annotation>
                              <xs:documentation>
															A container for necessary data to describe one or more legs of a single flight number.
															</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" name="DepartureAirport">
                                  <xs:annotation>
                                    <xs:documentation>Departure point of flight segment.</xs:documentation>
                                  </xs:annotation>
                                  <xs:complexType>
                                    <xs:attribute name="LocationCode" type="xs:string" use="required" />
                                    <xs:attribute default="IATA" name="CodeContext" type="xs:string" use="optional" />
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" name="ArrivalAirport">
                                  <xs:annotation>
                                    <xs:documentation>Arrival point of flight segment.</xs:documentation>
                                  </xs:annotation>
                                  <xs:complexType>
                                    <xs:attribute name="LocationCode" type="xs:string" use="required" />
                                    <xs:attribute default="IATA" name="CodeContext" type="xs:string" use="optional" />
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" name="MarketingAirline">
                                  <xs:complexType>
                                    <xs:attribute name="Code" type="xs:string" use="optional" />
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" name="MarriageGrp">
                                  <xs:annotation>
                                    <xs:documentation xml:lang="en">"Ind" allows a user to denote that the flight segment is part of a  connection.</xs:documentation>
                                  </xs:annotation>
                                  <xs:complexType>
                                    <xs:attribute name="Ind" type="xs:boolean" use="optional" />
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" name="TPA_Extensions">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element minOccurs="0" name="Line">
                                        <xs:complexType>
                                          <xs:attribute name="Number" type="xs:positiveInteger" use="required" />
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="DepartureDateTime" type="xs:string" use="optional" />
                              <xs:attribute name="FlightNumber" type="xs:string" use="optional">
                                <xs:annotation>
                                  <xs:documentation> The flight number, ARNK, or OPEN</xs:documentation>
                                </xs:annotation>
                              </xs:attribute>
                              <xs:attribute name="ResBookDesigCode" type="xs:string" use="required">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Specific Booking Class for this segment.																									</xs:documentation>
                                </xs:annotation>
                              </xs:attribute>
                              <xs:attribute name="ActionCode" type="xs:string" use="optional">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Valid values for "ActionCode" include: OPEN, IK, GK, BK, YK, and posibly others.</xs:documentation>
                                </xs:annotation>
                              </xs:attribute>
                              <xs:attribute name="NumberInParty" type="xs:positiveInteger" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="EchoToken" use="optional">
        <xs:annotation>
          <xs:documentation>A sequence number for additional message identification, assigned by the requesting host system. When a request 										message includes an echo token the corresponding response message MUST include an echo token with an identical value.											</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation xml:lang="en">Used for Character Strings, length 1 to 64</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="64" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="TimeStamp" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>Indicates the creation date and time of the message in UTC using the following format specified by ISO 8601; YYYY-	MM-					DDThh:mm:ssZ with time values using the 24 hour clock (e.g. 20 November 2003, 1:59:38 pm UTC becomes 2003-11-	20T13:59:38Z).						</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute default="Production" name="Target" use="optional">
        <xs:annotation>
          <xs:documentation>Used to indicate whether the request is for the Test or Production system.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="Test" />
            <xs:enumeration value="Production" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="Version" type="xs:string" use="required">
        <xs:annotation>
          <xs:documentation>For all OTA versioned messages, the version of the message is indicated by a decimal value.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="SequenceNmbr" type="xs:nonNegativeInteger" use="optional">
        <xs:annotation>
          <xs:documentation>Used to identify the sequence number of the transaction as assigned by the sending system; allows for an application 	to 					process messages in a certain order or to request a resynchronization of messages in the event that a system has been off-line and 	needs to 				retrieve messages that were missed. </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="PrimaryLangID" type="xs:language" use="optional">
        <xs:annotation>
          <xs:documentation>Identifes the primary language preference for the form of travel represented in a collection.
					 The human language is identified by ISO 639 codes.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="AltLangID" type="xs:language" use="optional">
        <xs:annotation>
          <xs:documentation>Identifes the primary language preference for the form of travel represented in a collection.
					 The human language is identified by ISO 639 codes.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
</xs:schema>