Turinco/WS_SsoftTotalTrip/Web References/GetHotelInfos/HotelInfoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.totaltrip.com" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.totaltrip.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.totaltrip.com">
      <s:element name="GetHotelInfos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rq" type="tns:HotelInfoRQ" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HotelInfoRQ">
        <s:complexContent mixed="false">
          <s:extension base="tns:WSSecurity">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="CityCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="HotelCodes" type="tns:ArrayOfInt" />
              <s:element minOccurs="0" maxOccurs="1" name="Language" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Source" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="WSSecurity" abstract="true">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetHotelInfosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHotelInfosResult" type="tns:HotelInfoRS" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HotelInfoRS">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="HotelInfos" type="tns:ArrayOfHotel" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfHotel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Hotel" nillable="true" type="tns:Hotel" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Hotel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ChainCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="HotelId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="HotelCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="HotelName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Source" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LongDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PropertyMessage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CityCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Rating" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Latitude" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Longitude" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Locality" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Neighborhood" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Area1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Area2" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ConfidenceFactor" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Ammenities" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="Images" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetHotelInfosSoapIn">
    <wsdl:part name="parameters" element="tns:GetHotelInfos" />
  </wsdl:message>
  <wsdl:message name="GetHotelInfosSoapOut">
    <wsdl:part name="parameters" element="tns:GetHotelInfosResponse" />
  </wsdl:message>
  <wsdl:portType name="HotelInfoServiceSoap">
    <wsdl:operation name="GetHotelInfos">
      <wsdl:input message="tns:GetHotelInfosSoapIn" />
      <wsdl:output message="tns:GetHotelInfosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HotelInfoServiceSoap" type="tns:HotelInfoServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetHotelInfos">
      <soap:operation soapAction="http://www.totaltrip.com/GetHotelInfos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="HotelInfoServiceSoap12" type="tns:HotelInfoServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetHotelInfos">
      <soap12:operation soapAction="http://www.totaltrip.com/GetHotelInfos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HotelInfoService">
    <wsdl:port name="HotelInfoServiceSoap" binding="tns:HotelInfoServiceSoap">
      <soap:address location="http://mmh.totaltrip.com/webservice/HotelInfoService.asmx" />
    </wsdl:port>
    <wsdl:port name="HotelInfoServiceSoap12" binding="tns:HotelInfoServiceSoap12">
      <soap12:address location="http://mmh.totaltrip.com/webservice/HotelInfoService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>