Turinco/sabre/WS_SsoftSabreV2/WS_SsoftSabre/Web References/DisplayPriceQuote/DisplayPriceQuoteLLS11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://webservices.sabre.com/sabreXML/2003/07" elementFormDefault="qualified" targetNamespace="http://webservices.sabre.com/sabreXML/2003/07" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DisplayPriceQuoteRQ">
    <xs:annotation>
      <xs:documentation>Request to display the pricing record information.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="POS">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="Source">
                <xs:complexType>
                  <xs:attribute name="PseudoCityCode" use="optional">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">An identification code assigned to an office/agency by a reservation system.												</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="16" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="TPA_Extensions">
          <xs:complexType>
            <xs:annotation>
              <xs:documentation>Allows extensions to an OTA Schema to accommodate bilateral agreements between trading partners.													</xs:documentation>
            </xs:annotation>
            <xs:sequence>
              <xs:element minOccurs="0" name="MessagingDetails">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="MDRSubset">
                      <xs:complexType>
                        <xs:attribute name="Code" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="AirItineraryPricingInfo">
          <xs:annotation>
            <xs:documentation>These elements allow a user to display fares stored in a PNR in a variety of ways.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="Summary">
                <xs:annotation>
                  <xs:documentation>This element displays a summary of the pricing records. Cannot combine with Name or Record.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:attribute default="false" name="Ind" type="xs:boolean" use="optional" />
                  <xs:attribute default="false" name="BreakDown" type="xs:boolean" use="optional" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="Record">
                <xs:annotation>
                  <xs:documentation>This element displays active pricing records, either individually, in groups, en masse, or according to a specified range. Cannot combine with Summary.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:attribute name="Number" type="xs:integer" use="optional" />
                  <xs:attribute name="EndNumber" type="xs:integer" use="optional" />
                  <xs:attribute default="false" name="All" type="xs:boolean" use="optional" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="Name">
                <xs:annotation>
                  <xs:documentation>This element displays active pricing records according to passenger name association, either individually, in groups, en masse, or according to a specified range.  Cannot combine with Summary</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:attribute name="Number" type="xs:decimal" use="optional" />
                  <xs:attribute name="EndNumber" type="xs:decimal" use="optional" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="Historical">
                <xs:annotation>
                  <xs:documentation>This element is used to display historical pricing records.  Cannot combine with Summarym, Record, or Name.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:attribute default="false" name="Ind" type="xs:boolean" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="EchoToken" use="optional">
        <xs:annotation>
          <xs:documentation>A sequence number for additional message identification, assigned by the requesting host system. When a request 										message includes an echo token the corresponding response message MUST include an echo token with an identical value.											</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation xml:lang="en">Used for Character Strings, length 1 to 64</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="64" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="TimeStamp" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>Indicates the creation date and time of the message in UTC using the following format specified by ISO 8601; YYYY-	MM-					DDThh:mm:ssZ with time values using the 24 hour clock (e.g. 20 November 2003, 1:59:38 pm UTC becomes 2003-11-	20T13:59:38Z).						</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute default="Production" name="Target" use="optional">
        <xs:annotation>
          <xs:documentation>Used to indicate whether the request is for the Test or Production system.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="Test" />
            <xs:enumeration value="Production" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="Version" type="xs:string" use="required">
        <xs:annotation>
          <xs:documentation>For all OTA versioned messages, the version of the message is indicated by a decimal value.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="SequenceNmbr" type="xs:nonNegativeInteger" use="optional">
        <xs:annotation>
          <xs:documentation>Used to identify the sequence number of the transaction as assigned by the sending system; allows for an application 	to 					process messages in a certain order or to request a resynchronization of messages in the event that a system has been off-line and 	needs to 				retrieve messages that were missed. </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="PrimaryLangID" type="xs:language" use="optional">
        <xs:annotation>
          <xs:documentation>Identifes the primary language preference for the form of travel represented in a collection.
					 The human language is identified by ISO 639 codes.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="AltLangID" type="xs:language" use="optional">
        <xs:annotation>
          <xs:documentation>Identifes the primary language preference for the form of travel represented in a collection.
					 The human language is identified by ISO 639 codes.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
</xs:schema>