Turinco/sabre/WS_SsoftSabreV2/WS_SsoftSabre/Web References/DisplayPriceQuote/DisplayPriceQuoteLLS10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://webservices.sabre.com/sabreXML/2003/07" elementFormDefault="qualified" targetNamespace="http://webservices.sabre.com/sabreXML/2003/07" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DisplayPriceQuoteRS">
    <xs:annotation>
      <xs:documentation>Root element for response from a OTA_AirLowFareSearch request.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Success" type="xs:string" />
        <xs:element minOccurs="0" name="Warnings">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="Warning">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="ShortText" type="xs:string" use="optional" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="PriceQuoteSummary">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="ItinTotalFare">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="TotalFare">
                      <xs:complexType>
                        <xs:attribute name="Amount" type="xs:decimal" use="optional" />
                        <xs:attribute name="CurrencyCode" type="xs:string" use="optional" />
                        <xs:attribute name="DecimalPlaces" type="xs:integer" use="optional" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="PTC_FareBreakdown">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="TPA_Extensions">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="Coupon">
                            <xs:complexType>
                              <xs:attribute name="Number" type="xs:integer" use="optional" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="CreationDetails">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" name="CreationDateTime">
                                  <xs:complexType>
                                    <xs:attribute name="Date" type="xs:string" use="optional" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="PassengerTypeQuantity">
                      <xs:complexType>
                        <xs:attribute name="Code" type="xs:string" use="optional" />
                        <xs:attribute name="Number" type="xs:integer" use="optional" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="FareBasisCode" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="RPH" type="xs:string" use="optional" />
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="PriceQuoteBreakdown">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="ItinTotalFare">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="BaseFare">
                      <xs:annotation>
                        <xs:documentation>Price of the inventory excluding taxes and fees.</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:attribute name="Amount" type="xs:decimal" use="optional" />
                        <xs:attribute name="CurrencyCode" type="xs:string" use="optional" />
                        <xs:attribute name="DecimalPlaces" type="xs:integer" use="optional" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="EquivFare">
                      <xs:annotation>
                        <xs:documentation>Price of the inventory excluding taxes and fees in the payable currency.</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:attribute name="Amount" type="xs:decimal" use="optional" />
                        <xs:attribute name="CurrencyCode" type="xs:string" use="optional" />
                        <xs:attribute name="DecimalPlaces" type="xs:integer" use="optional" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="Taxes">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="Tax">
                            <xs:complexType>
                              <xs:attribute name="Amount" type="xs:decimal" use="optional" />
                              <xs:attribute name="DecimalPlaces" type="xs:integer" use="optional" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="TotalFare">
                      <xs:complexType>
                        <xs:attribute name="Amount" type="xs:decimal" use="optional" />
                        <xs:attribute name="CurrencyCode" type="xs:string" use="optional" />
                        <xs:attribute name="DecimalPlaces" type="xs:integer" use="optional" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="PTC_FareBreakdown">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="TPA_Extensions">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="Coupon">
                            <xs:complexType>
                              <xs:attribute name="Number" type="xs:integer" use="optional" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="PassengerTypeQuantity">
                      <xs:complexType>
                        <xs:attribute name="Code" type="xs:string" use="optional" />
                        <xs:attribute name="Number" type="xs:integer" use="optional" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="FareBasisCode" type="xs:string" />
                    <xs:element minOccurs="0" name="PassengerFare">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="BaseFare">
                            <xs:annotation>
                              <xs:documentation>Price of the inventory excluding taxes and fees.</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:attribute name="Amount" type="xs:decimal" use="optional" />
                              <xs:attribute name="CurrencyCode" type="xs:string" use="optional" />
                              <xs:attribute name="DecimalPlaces" type="xs:integer" use="optional" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="EquivFare">
                            <xs:annotation>
                              <xs:documentation>Price of the inventory excluding taxes and fees in the payable currency.</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:attribute name="Amount" type="xs:decimal" use="optional" />
                              <xs:attribute name="CurrencyCode" type="xs:string" use="optional" />
                              <xs:attribute name="DecimalPlaces" type="xs:integer" use="optional" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="Taxes">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" name="Tax">
                                  <xs:complexType>
                                    <xs:attribute name="Amount" type="xs:decimal" use="optional" />
                                    <xs:attribute name="DecimalPlaces" type="xs:integer" use="optional" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="TotalFare">
                            <xs:complexType>
                              <xs:attribute name="Amount" type="xs:decimal" use="optional" />
                              <xs:attribute name="CurrencyCode" type="xs:string" use="optional" />
                              <xs:attribute name="DecimalPlaces" type="xs:integer" use="optional" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="PriceQuote">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="PricedItinerary">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="AirItineraryPricingInfo">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="TPA_Extensions">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" name="Title">
                                  <xs:complexType>
                                    <xs:attribute name="Text" type="xs:string" use="optional" />
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" name="Text" type="xs:string" />
                                <xs:element minOccurs="0" name="CreationDetails">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element minOccurs="0" name="Source">
                                        <xs:complexType>
                                          <xs:attribute name="AgentSine" type="xs:string" use="optional" />
                                          <xs:attribute name="PseudoCityCode" type="xs:string" use="optional" />
                                          <xs:attribute name="HomePseudoCityCode" type="xs:string" use="optional" />
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element minOccurs="0" name="CreationDateTime">
                                        <xs:complexType>
                                          <xs:attribute name="Date" type="xs:string" use="optional" />
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element minOccurs="0" name="TPA_Extensions">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element minOccurs="0" name="PricingSource" type="xs:string" />
                                            <xs:element minOccurs="0" name="Text" type="xs:string" />
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" maxOccurs="unbounded" name="FlightSegment">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element minOccurs="0" name="FlightType">
                                        <xs:annotation>
                                          <xs:documentation xml:lang="en">Connection or Stopover</xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                          <xs:attribute name="Ind" use="optional">
                                            <xs:simpleType>
                                              <xs:restriction base="xs:string">
                                                <xs:enumeration value="X" />
                                                <xs:enumeration value="O" />
                                                <xs:enumeration value="N" />
                                                <xs:enumeration value="E" />
                                              </xs:restriction>
                                            </xs:simpleType>
                                          </xs:attribute>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element minOccurs="0" name="DepartureAirport">
                                        <xs:complexType>
                                          <xs:attribute name="LocationCode" type="xs:string" use="optional" />
                                          <xs:attribute name="CodeContext" type="xs:string" use="optional">
                                            <xs:annotation>
                                              <xs:documentation xml:lang="en">Identifies the context of the identifying code, such as IATA, ARC, or internal code, etc.</xs:documentation>
                                            </xs:annotation>
                                          </xs:attribute>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element minOccurs="0" name="ArrivalAirport">
                                        <xs:complexType>
                                          <xs:attribute name="LocationCode" type="xs:string" use="optional" />
                                          <xs:attribute name="CodeContext" type="xs:string" use="optional">
                                            <xs:annotation>
                                              <xs:documentation xml:lang="en">Identifies the context of the identifying code, such as IATA, ARC, or internal code, etc.</xs:documentation>
                                            </xs:annotation>
                                          </xs:attribute>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element minOccurs="0" name="OperatingAirline">
                                        <xs:complexType>
                                          <xs:attribute name="Code" type="xs:string" use="optional" />
                                          <xs:attribute name="FlightNumber" type="xs:string" use="optional" />
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element minOccurs="0" name="FareBasisCode" type="xs:string" />
                                      <xs:element minOccurs="0" name="BaggageAllowance">
                                        <xs:complexType>
                                          <xs:attribute name="Number" type="xs:string" use="optional" />
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element minOccurs="0" name="ValidityDates">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element minOccurs="0" name="NotValidBefore" type="xs:string" />
                                            <xs:element minOccurs="0" name="NotValidAfter" type="xs:string" />
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="DepartureDateTime" type="xs:string" use="optional" />
                                    <xs:attribute name="ResBookDesigCode" type="xs:string" use="optional" />
                                    <xs:attribute name="RPH" type="xs:string" use="optional" />
                                    <xs:attribute name="FlightNumber" type="xs:string" use="optional" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="ItinTotalFare">
                            <xs:annotation>
                              <xs:documentation>Total price of the itinerary</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:annotation>
                                <xs:documentation>Holds a base fare, tax, total and currency information on a price</xs:documentation>
                              </xs:annotation>
                              <xs:sequence>
                                <xs:element minOccurs="0" name="BaseFare">
                                  <xs:annotation>
                                    <xs:documentation>Price of the inventory excluding taxes and fees.</xs:documentation>
                                  </xs:annotation>
                                  <xs:complexType>
                                    <xs:attribute name="Amount" type="xs:decimal" use="optional" />
                                    <xs:attribute name="CurrencyCode" type="xs:string" use="optional" />
                                    <xs:attribute name="DecimalPlaces" type="xs:integer" use="optional" />
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" name="EquivFare">
                                  <xs:annotation>
                                    <xs:documentation>Price of the inventory excluding taxes and fees in the payable currency.</xs:documentation>
                                  </xs:annotation>
                                  <xs:complexType>
                                    <xs:attribute name="Amount" type="xs:decimal" use="optional" />
                                    <xs:attribute name="CurrencyCode" type="xs:string" use="optional" />
                                    <xs:attribute name="DecimalPlaces" type="xs:integer" use="optional" />
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" name="Taxes">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tax">
                                        <xs:complexType>
                                          <xs:attribute name="TaxCode" type="xs:string" use="optional">
                                            <xs:annotation>
                                              <xs:documentation>Identifies the code for the tax.</xs:documentation>
                                            </xs:annotation>
                                          </xs:attribute>
                                          <xs:attribute name="Amount" type="xs:decimal" use="optional" />
                                          <xs:attribute name="PaidInd" type="xs:string" use="optional" />
                                          <xs:attribute name="DecimalPlaces" type="xs:integer" use="optional" />
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="TotalAmount" type="xs:decimal" use="optional" />
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" name="TotalFare">
                                  <xs:annotation>
                                    <xs:documentation>The total price that the passenger would pay (includes fare, taxes, fees)  </xs:documentation>
                                  </xs:annotation>
                                  <xs:complexType>
                                    <xs:attribute name="Amount" type="xs:decimal" use="optional" />
                                    <xs:attribute name="CurrencyCode" type="xs:string" use="optional" />
                                    <xs:attribute name="DecimalPlaces" type="xs:integer" use="optional" />
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" name="TPA_Extensions">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element minOccurs="0" maxOccurs="unbounded" name="FareCalc" type="xs:string" />
                                      <xs:element minOccurs="0" maxOccurs="unbounded" name="ValidatingCarrier">
                                        <xs:complexType>
                                          <xs:attribute name="Code" type="xs:string" use="optional" />
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element minOccurs="0" maxOccurs="unbounded" name="Text" type="xs:string" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="PTC_FareBreakdown">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" maxOccurs="unbounded" name="PassengerTypeQuantity">
                                  <xs:complexType>
                                    <xs:attribute name="Code" type="xs:string" use="optional" />
                                    <xs:attribute name="Number" type="xs:integer" use="optional" />
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" maxOccurs="unbounded" name="FareBasisCode" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" maxOccurs="unbounded" name="TicketingFees">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" maxOccurs="unbounded" name="FeeInformation">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute name="ServiceType" type="xs:string" use="optional" />
                                        <xs:attribute name="OnlineInterlineService" type="xs:string" use="optional" />
                                        <xs:attribute name="NonRefundableInd" type="xs:string" use="optional" />
                                        <xs:attribute name="NonCommissionInd" type="xs:string" use="optional" />
                                        <xs:attribute name="GuaranteeType" type="xs:string" use="optional" />
                                        <xs:attribute name="FunctionCode" type="xs:string" use="optional" />
                                        <xs:attribute name="DisplayOnOutputInd" type="xs:string" use="optional" />
                                        <xs:attribute name="Amount" type="xs:decimal" use="optional" />
                                        <xs:attribute name="AccountData" type="xs:string" use="optional" />
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="Disclaimer" type="xs:string" use="optional" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="SequenceNumber" type="xs:integer" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="RPH" type="xs:string" use="optional" />
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="TPA_Extensions">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="HostCommand" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="Errors">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="Error">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="ErrorInfo">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="Message" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="ErrorCode" type="xs:string" use="optional" />
                  <xs:attribute name="Severity" type="xs:string" use="optional" />
                  <xs:attribute name="ErrorMessage" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="EchoToken" use="optional">
        <xs:annotation>
          <xs:documentation>A sequence number for additional message identification, assigned by the requesting host system. When a request message includes an echo token the corresponding response message MUST include an echo token with an identical value.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation xml:lang="en">Used for Character Strings, length 1 to 64</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="64" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="TimeStamp" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>Indicates the creation date and time of the message in UTC using the following format specified by ISO 8601; YYYY-	MM-					DDThh:mm:ssZ with time values using the 24 hour clock (e.g. 20 November 2003, 1:59:38 pm UTC becomes 2003-11-	20T13:59:38Z).						</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute default="Production" name="Target" use="optional">
        <xs:annotation>
          <xs:documentation>Used to indicate whether the request is for the Test or Production system.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="Test" />
            <xs:enumeration value="Production" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="Version" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>For all OTA versioned messages, the version of the message is indicated by a decimal value.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="SequenceNmbr" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>Used to identify the sequence number of the transaction as assigned by the sending system; allows for an application 	to 					process messages in a certain order or to request a resynchronization of messages in the event that a system has been off-line and 	needs to 				retrieve messages that were missed. </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="PrimaryLangID" type="xs:language" use="optional">
        <xs:annotation>
          <xs:documentation>Identifes the primary language preference for the form of travel represented in a collection.
					 The human language is identified by ISO 639 codes.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="AltLangID" type="xs:language" use="optional">
        <xs:annotation>
          <xs:documentation>Identifes the primary language preference for the form of travel represented in a collection.
					 The human language is identified by ISO 639 codes.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
</xs:schema>