Turinco/sabre/WS_SsoftSabreV2/WS_SsoftSabre/Web References/OTA_AirPrice/OTA_AirPriceLLS10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://webservices.sabre.com/sabreXML/2003/07" elementFormDefault="qualified" targetNamespace="http://webservices.sabre.com/sabreXML/2003/07" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="OTA_AirPriceRQ">
    <xs:annotation>
      <xs:documentation>Comment describing your root element</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="POS">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="Source">
                <xs:complexType>
                  <xs:attribute name="PseudoCityCode" use="optional">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">An identification code assigned to an office/agency by a reservation system.												</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="16" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="TPA_Extensions">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="MessagingDetails">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="MDRSubset">
                      <xs:complexType>
                        <xs:attribute name="Code" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="TravelerInfoSummary">
          <xs:annotation>
            <xs:documentation>Specify passenger numbers and types</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="PriceRequestInformation">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="TPA_Extensions">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="Pricing">
                            <xs:complexType>
                              <xs:attribute name="Source" type="xs:string" use="optional" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="Account">
                            <xs:complexType>
                              <xs:attribute name="Code" type="xs:string" use="optional" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="Corporate">
                            <xs:complexType>
                              <xs:attribute name="ID" type="xs:string" use="optional" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="ForceCorporate">
                            <xs:complexType>
                              <xs:attribute name="Ind" type="xs:boolean" use="optional" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="AlternateCurrency">
                            <xs:complexType>
                              <xs:attribute name="Code" type="xs:string" use="optional" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="PlusUp">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" name="TicketDesignator" type="xs:string" />
                              </xs:sequence>
                              <xs:attribute name="Amount" type="xs:decimal" use="optional" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="CurrencyCode" use="optional">
                    <xs:annotation>
                      <xs:documentation>Type of funds preferred for reviewing monetary values, in ISO 4217 codes.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Used for Alphabetic Strings, length exactly 3</xs:documentation>
                      </xs:annotation>
                      <xs:restriction base="xs:string">
                        <xs:pattern value="[a-zA-Z]{3}" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="TPA_Extensions">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="BargainFinder">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="Rebook">
                            <xs:complexType>
                              <xs:attribute name="Ind" type="xs:boolean" use="required" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="Historical">
                            <xs:complexType>
                              <xs:attribute name="Ind" type="xs:boolean" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="Ind" type="xs:boolean" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="VendorPref">
                      <xs:complexType>
                        <xs:attribute name="Code" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="ValidityDates">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="Segment">
                            <xs:complexType>
                              <xs:attribute name="Number" type="xs:string" use="optional" />
                              <xs:attribute name="EndNumber" type="xs:string" use="optional" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="NotValidBefore" type="xs:string" />
                          <xs:element minOccurs="0" name="NotValidAfter" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="Commission">
                      <xs:complexType>
                        <xs:attribute name="Amount" type="xs:decimal" use="optional" />
                        <xs:attribute name="Percentage" type="xs:decimal" use="optional" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="BaggageAllowance">
                      <xs:complexType>
                        <xs:attribute name="Number" type="xs:integer" use="optional" />
                        <xs:attribute name="Weight" type="xs:integer" use="optional" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="TourCode">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="SuppressIT">
                            <xs:complexType>
                              <xs:attribute name="Ind" type="xs:boolean" use="optional" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="BSPInclusiveTour">
                            <xs:complexType>
                              <xs:attribute name="Ind" type="xs:boolean" use="optional" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Text" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="Endorsement">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Text" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="BSR">
                      <xs:complexType>
                        <xs:attribute name="Amount" type="xs:decimal" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="BreakFare">
                      <xs:complexType>
                        <xs:attribute name="Number" type="xs:integer" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="OverrideBreak">
                      <xs:complexType>
                        <xs:attribute name="Number" type="xs:integer" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="ForceStopOver">
                      <xs:complexType>
                        <xs:attribute name="Number" type="xs:integer" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="ForceConnection">
                      <xs:complexType>
                        <xs:attribute name="Number" type="xs:integer" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="BuyingDate" type="xs:date" />
                    <xs:element minOccurs="0" name="ExcursionFare">
                      <xs:complexType>
                        <xs:attribute name="Ind" type="xs:boolean" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="NameSelect">
                      <xs:complexType>
                        <xs:attribute name="NameNumber" type="xs:decimal" use="required" />
                        <xs:attribute name="EndNameNumber" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="NoAdvancePurchase">
                      <xs:complexType>
                        <xs:attribute name="Ind" type="xs:boolean" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="NoMinMaxStay">
                      <xs:complexType>
                        <xs:attribute name="Ind" type="xs:boolean" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="NoPenalty">
                      <xs:complexType>
                        <xs:attribute name="Ind" type="xs:boolean" use="required" />
                        <xs:attribute name="PenaltyPercentage" type="xs:integer" use="optional" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="NoFareRestrictions">
                      <xs:complexType>
                        <xs:attribute name="Ind" type="xs:boolean" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="FuelSurchargeOverride">
                      <xs:complexType>
                        <xs:attribute name="Ind" type="xs:boolean" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="PassengerType">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="ShipRegistry">
                            <xs:complexType>
                              <xs:attribute name="Code" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="Quantity" type="xs:integer" use="required" />
                        <xs:attribute name="Code" type="xs:string" use="required" />
                        <xs:attribute name="AlternatePassengerType" type="xs:boolean" use="optional" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="PassengerStatus" type="xs:string" />
                    <xs:element minOccurs="0" name="PublicFare">
                      <xs:complexType>
                        <xs:attribute name="Ind" type="xs:boolean" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="PrivateFare">
                      <xs:complexType>
                        <xs:attribute name="Ind" type="xs:boolean" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="NetFare">
                      <xs:complexType>
                        <xs:attribute name="Ind" type="xs:boolean" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="SegmentSelect">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="GoverningCarrierOverride">
                            <xs:complexType>
                              <xs:attribute name="Code" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="RPH" type="xs:string" use="optional" />
                        <xs:attribute name="Number" type="xs:string" use="required" />
                        <xs:attribute name="EndNumber" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="SideTrip">
                      <xs:complexType>
                        <xs:attribute name="Number" type="xs:integer" use="required" />
                        <xs:attribute name="EndNumber" type="xs:integer" use="optional" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="Taxes">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="NoTax">
                            <xs:complexType>
                              <xs:attribute name="Ind" type="xs:boolean" use="required" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" maxOccurs="unbounded" name="TaxExempt">
                            <xs:complexType>
                              <xs:attribute name="Code" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" maxOccurs="unbounded" name="TaxOverride">
                            <xs:complexType>
                              <xs:attribute name="Amount" type="xs:string" use="required" />
                              <xs:attribute name="Code" type="xs:string" use="required" />
                              <xs:attribute name="DecimalPlaces" type="xs:integer" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="OverridePurchaseCity">
                      <xs:complexType>
                        <xs:attribute name="LocationCode" type="xs:string" use="required" />
                        <xs:attribute name="CodeContext" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="OverrideTicketingCity">
                      <xs:complexType>
                        <xs:attribute name="LocationCode" type="xs:string" use="required" />
                        <xs:attribute name="CodeContext" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="CommandPricing">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="FareBasisCode" type="xs:string" />
                          <xs:element minOccurs="0" name="TicketDesignator">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute name="AuthCode" type="xs:string" use="optional" />
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="Discount">
                            <xs:complexType>
                              <xs:attribute name="Amount" type="xs:string" use="optional" />
                              <xs:attribute name="DecimalPlaces" type="xs:integer" use="optional" />
                              <xs:attribute name="Percent" type="xs:integer" use="optional" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="RPH" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="NetRemit">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="CAR">
                            <xs:complexType>
                              <xs:attribute name="Code" type="xs:string" use="optional" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="Cash">
                            <xs:complexType>
                              <xs:attribute name="CurrencyCode" use="optional">
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:pattern value="[a-zA-Z]{3}" />
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                              <xs:attribute name="Amount" type="xs:decimal" use="required" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="Credit">
                            <xs:complexType>
                              <xs:attribute name="Amount" type="xs:decimal" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="Code" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="ManualFareStore">
                      <xs:complexType>
                        <xs:attribute name="Text" type="xs:string" use="required" />
                        <xs:attribute name="NameNumber" type="xs:decimal" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="PriceRetention">
                      <xs:complexType>
                        <xs:attribute name="Default" type="xs:boolean" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="EchoToken" use="optional">
        <xs:annotation>
          <xs:documentation>A sequence number for additional message identification, assigned by the requesting host system. When a request 										message includes an echo token the corresponding response message MUST include an echo token with an identical value.											</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation xml:lang="en">Used for Character Strings, length 1 to 64</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="64" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="TimeStamp" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>Indicates the creation date and time of the message in UTC using the following format specified by ISO 8601; YYYY-	MM-					DDThh:mm:ssZ with time values using the 24 hour clock (e.g. 20 November 2003, 1:59:38 pm UTC becomes 2003-11-	20T13:59:38Z).						</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute default="Production" name="Target" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>Used to indicate whether the request is for the Test or Production system.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="Version" type="xs:string" use="required">
        <xs:annotation>
          <xs:documentation>For all OTA versioned messages, the version of the message is indicated by a decimal value.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="SequenceNmbr" type="xs:nonNegativeInteger" use="optional">
        <xs:annotation>
          <xs:documentation>Used to identify the sequence number of the transaction as assigned by the sending system; allows for an application 	to 					process messages in a certain order or to request a resynchronization of messages in the event that a system has been off-line and 	needs to 				retrieve messages that were missed. </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="PrimaryLangID" type="xs:language" use="optional">
        <xs:annotation>
          <xs:documentation>Identifes the primary language preference for the form of travel represented in a collection.
					 The human language is identified by ISO 639 codes.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="AltLangID" type="xs:language" use="optional">
        <xs:annotation>
          <xs:documentation>Identifes the primary language preference for the form of travel represented in a collection.
					 The human language is identified by ISO 639 codes.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
</xs:schema>